# Tell GitHub to ignore exhibits and tools in language stats
tools/exiftool/**/* linguist-vendored
runs/**/* linguist-documentation
**/html/*.html linguist-documentation
*.html linguist-documentation
